<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} favi icon  {% endcomment %}
    <link rel="shortcut icon" href="{% static "/assets/images/logo/favicon.ico" %}" type="image/x-icon">
    {% comment %} custom css link  {% endcomment %}
    <link rel="stylesheet" href="{% static "/assets/css/style-prefix.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {% comment %} google font link  {% endcomment %}
    <link rel="preconnect" href="{% static "https://fonts.googleapis.com" %}">
    <link rel="preconnect" href="{% static "https://fonts.gstatic.com" %}" crossorigin>
    <link href="{% static "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" %}" rel="stylesheet">
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>  
     
    {% block content %}


    {% endblock content %}  

</body>